<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bans.cliplocker">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClipLocker">
        <activity
            android:name=".AuthActivity"
            android:configChanges="orientation|screenLayout|keyboard|keyboardHidden|screenSize|uiMode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenLayout|keyboard|keyboardHidden|screenSize|uiMode"
            android:exported="true"
            android:label="Damnn">
            <intent-filter>
                <action android:name="android.intent.action.PASTE" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.MAIN" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClipListenerActivity"
            android:configChanges="orientation|screenLayout|keyboard|keyboardHidden|screenSize|uiMode"
            android:exported="true"
            android:label="@string/store_label">
            <intent-filter>
                <action android:name="android.intent.action.PASTE" />
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.MAIN" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>